<!DOCTYPE html>
<html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" charset="utf-8"
		  content="width=device-width, initial-scale=1, maximum-scale=1,text/html; charset=utf-8"/>
	<title>国网后台管理页面</title>
	<link rel="stylesheet" href="/static/css/layui.css" media="all">
	<script src="../static/js/layui.all.js"></script>
	<script src="../static/js/lay/modules/laydate.js"></script>
	<script src="../static/js/jquery-3.4.1.js"></script>
	<script src="../static/js/lay/jquery-3.4.1.min.js"></script>
	<script src="../static/js/lay/modules/element.js"></script>
	<script src="../static/js/layui.js"></script>
	<script>
	layui.use('element', function(){
	  var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
	  
	  //监听导航点击
	  element.on('nav(demo)', function(elem){
	    //console.log(elem)
	    layer.msg(elem.text());
	  });
	  element.on('nav(test)', function(elem) {
		  var url = $(elem).attr("data-url");
		  url = window.location.origin + "/page/" + url + ".html";
		  $("#myif").attr("src", url);
	  });
	  
	});
	</script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">国网管理后台</div>
		<ul class="layui-nav layui-layout-right">
		    <li class="layui-nav-item">
		        <a href="javascript:;">
		            <img src="../static/img/zz.jpg" class="layui-nav-img">
		        </a>
		        <dl class="layui-nav-child">
		            <dd><a href="">基本资料</a></dd>
		            <dd><a href="">安全设置</a></dd>
		        </dl>
		    </li>
		    <li class="layui-nav-item"><a href="/login.html">退出登录</a></li>
		</ul>
        <!-- 头部区域（可配合layui已有的水平导航） -->
       <!-- <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">用户中心</a></li>
            <li class="layui-nav-item layui-this">
                <a href="javascript:;">预留</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>-->
        
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">管理员模块</a>
					<dl class="layui-nav-child layui-this">
						<dd><a data-url="user">用户信息列表</a></dd>
						<dd><a data-url="user">注册个人用户</a></dd>
						<dd><a data-url="user">注册基站用户</a></dd>
						<dd><a data-url="test">新增组织机构</a></dd>
						<dd><a href="">更改部门名称</a></dd>
						<dd><a href="">删除部门信息</a></dd>
					</dl>
                </li>
				<li class="layui-nav-item layui-nav-itemed">
				    <a class="" href="javascript:;">普通用户模块</a>
					<dl class="layui-nav-child layui-this">
						<dd><a href="">用户信息列表</a></dd>
						<dd><a href="">注册个人用户</a></dd>
						<dd><a href="">注册基站用户</a></dd>
						<dd><a href="">新增组织机构</a></dd>
						<dd><a href="">更改部门名称</a></dd>
						<dd><a href="">删除部门信息</a></dd>
					</dl>
				</li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
		<!-- <div style="padding: 15px;" class="layui-table layui-show">
			<table class="layui-table layui-show" lay-data="{width: 2000, height: 330, url:'/demo/table/user/', page:true, id:'idTest'}" lay-filter="demo">
				<thead>
				<tr>
					<th lay-data="{type:'checkbox', fixed: 'left'}" style="width: auto"></th>
					<th lay-data="{field:'id',sort: true, fixed: true}" style="width: auto">ID</th>
					<th lay-data="{field:'username'}">用户名</th>
					<th lay-data="{field:'sex', sort: true}">性别</th>
					<th lay-data="{field:'city'}">城市</th>
					<th lay-data="{field:'sign'}">签名</th>
					<th lay-data="{field:'experience', sort: true}">积分</th>
					<th lay-data="{field:'classify'}">职业</th>
					<th lay-data="{field:'wealth', sort: true}">财富</th>
					<th lay-data="{field:'score', sort: true, fixed: 'right'}">评分</th>
					<th lay-data="{fixed: 'right',align:'center', toolbar: '#barDemo'}"></th>
				</tr>
				</thead>
			</table>
		</div> -->
		<iframe id="myif" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no" allowtransparency="yes" src="" style="width:100%;height:100%;border:none;flex: 1;"></iframe>
    </div>

    <div class="layui-footer layui-bg-black ">
        <!-- 底部固定区域 -->
        © telecomyt.com - 北京电信易通股份信息有限公司
    </div>
</div>
</body>
</html>
